<div> id = {{post.ID}}</div>

<!-- Page Content -->
<div class="container">

    <div class="row">
  
      <!-- Post Content Column -->
      <div class="col-lg-8">
  
        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>
  
  
        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.author}}</a>
        </p>
  
        <hr>
  
        <!-- Date/Time -->
        <p>Posted on {{post.postDate}}</p>
  
        <hr>
  
        <!-- Preview Image -->
        <div *ngIf="hasImg">        
            <img  class="card-img-top" src="assets/img/{{_post.titleImg}}" alt="">
      </div>
        
        <hr>
  
        <!-- Post Content -->
        <p class="lead">{{post.body}}</p>
  
        <hr>
  
        <div *ngIf="hasExtraImg">
          <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let imag of _post.imgList">
                        <img  class="img-fluid rounded" src="assets/img/{{imag}}" alt="">
                </div>
            </div>
          </div>
          <hr>
      </div>
        <button routerLink="/game/{{_post.gameURL}}" class="btn btn-danger">
          Click to play
        </button>
        <hr>
      </div>
  
      <!-- Sidebar Widgets Column --> 
        <div class="col-md-4">
          <app-sidebar></app-sidebar>
          </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

  