<div class="container">

  <div class="row">
    
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">Page Heading
      </h1>

      <!-- Blog Post -->
    <div *ngFor="let post of posts">
      <div *ngIf="postFromAuthor(post)">
          <app-list-post [post]=post></app-list-post>
      </div>
    </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    </div>    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
    <app-sidebar></app-sidebar>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->